@import '../../../../assets/_colors.scss';

.NavLink {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0;
  width: 100%;
  background-color: $light;
  transition: 300ms;
  text-decoration: none;
  & p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: $teal;
    margin-top: 4px;
    transition: 300ms;
  }
  & i {
    color: $light-teal;
    font-size: 24px;
    transition: 300ms;
  }
}

.NavLink:hover {
  background-color: $light-teal;
  & p, & i {
    color: $light;
  }
}