@import '../../../../assets/_colors.scss';

.NavLink {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 8px 0;
  width: 100%;
  background-color: $light-teal;
  transition: 300ms;
  text-decoration: none;
}

.NavLink:hover {
  background-color: $lightest-teal;
}

.NavLink p {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
}

.NavLink i {
  font-size: 24px;
}


@media only screen and (min-width: 768px) {
  .NavLink {
    font-size: 56px;
  }

  .NavLink:hover {
    background-color: $lightest-teal;
  }

  .NavLink p {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}