@import '../../../assets/_colors.scss';

.QuestionText {
  color: $dark-teal;
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
}

.Answers {
  color: $dark-teal;
  font-size: 12px;
  margin: 8px 0 0 8px;
  & i {
    margin-left: 4px;
  }
}

.CorrectAnswer {
  font-size: 12px;
  font-weight: bold;
  color: $light-teal;
  margin-left: 8px;
}

.WrongAnswer {
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}


.Answer {
  color: $light-teal;
  font-weight: bold;
}


@media only screen and (min-width: 768px) {
  .Answers, .WrongAnswer, .CorrectAnswer {
    font-size: 14px;
  }

  .QuestionText {
    color: $dark-teal;
    font-size: 24px;
  }
}