@import '../../../assets/_colors.scss';

.Answers {
  color: $dark-teal;
  font-size: 12px;
  & i {
    margin-left: 4px;
  }
}

.CorrectAnswer {
  font-size: 12px;
  font-weight: bold;
  color: $light-teal;
}

.WrongAnswer {
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}


.Answer {
  color: $light-teal;
  font-weight: bold;
}


@media only screen and (min-width: 768px) {
  .Answers, .WrongAnswer, .CorrectAnswer {
    font-size: 14px;
  }
}