@import '../../assets/_colors.scss';

.Questions {
  margin-top: 8px;
  padding: 4px;
}

.Question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0 8px;
}

.QuestionNumber {
  color: $teal;
  font-size: 14px;
}

.Question p {
  font-weight: 500;
  font-size: 12px;
  color: $dark-teal;
}

.AnswerField, .EmptyAnswer {
  color: $dark-teal;
  width: 100%;
  margin-left: 16px;
  font-size: 14px;
  padding: 4px 8px;
}

.EmptyAnswer {
  border: 2px solid red;
}

.NextBtn {
  cursor: pointer;
  background-color: $dark-teal;
  transition: 200ms;
  border: none;
  font-size: 12px;
  padding: 8px;
  margin-top: 8px;
}

.NextBtn:hover {
  background-color: $light-teal;
}

.AnswerHistory {
  margin: 4px 0px;
}

.Answers {
  display: inline-block;
  color: $dark-teal;
  font-size: 12px;
  & i {
    margin-left: 4px;
  }
}

.CorrectAnswer {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: $light-teal;
}

.WrongAnswer {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}


.Answer {
  color: $light-teal;
  font-weight: bold;
}


@media only screen and (min-width: 768px) {
  .QuestionNumber {
    font-size: 16px;
  }

  .Question p {
    font-size: 14px;
    color: $dark-teal;
  }

  .Question input {
    font-size: 16px;
    padding: 4px 8px;
  }

  .Answers, .WrongAnswer, .CorrectAnswer, .NextBtn {
    font-size: 14px;
  }
}