@import '../../assets/_colors.scss';

.Questions {
  margin-top: 8px;
  padding: 4px;
}

.Question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0 8px;
}

.QuestionProgress {
  color: $teal;
  font-size: 14px;
}

.Question p {
  font-weight: 500;
  font-size: 12px;
  color: $dark-teal;
}

.Question input {
  color: $dark-teal;
  width: 100%;
  margin-left: 16px;
  font-size: 14px;
  padding: 4px 8px;
}

.NextBtn {
  cursor: pointer;
  background-color: $dark-teal;
  transition: 200ms;
  border: none;
  font-size: 12px;
  padding: 8px;
  margin-top: 8px;
}

.NextBtn:hover {
  background-color: $light-teal;
}


@media only screen and (min-width: 768px) {
  .QuestionProgress {
    font-size: 16px;
  }

  .Question p {
    font-size: 14px;
    color: $dark-teal;
  }

  .Question input {
    font-size: 16px;
    padding: 4px 8px;
  }

  .NextBtn {
    font-size: 14px;
  }
}