@import '../../assets/_colors.scss';

.CreateQuiz {
  margin: 8px;
}

.SentenceOptions {
  margin: 8px 0 0 8px;
}

.SentenceContainer, .BtnContainer {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.SentenceContainer {
  border: 2px solid $light-teal;
  border-radius: 5px;
  padding: 8px;
}

.WordContainer {
  display: inline-block;
  margin-right: 12px;
}

.ExampleSentence {
  color: #797979;
  text-transform: capitalize;
}

.Sentence, .ExampleSentence {
  color: $teal;
  font-size: 14px;
}

.Word, .Sentence {
  font-weight: 600;
  & option {
    color: $dark-teal;
  }
  &::first-letter {
    text-transform: capitalize;
  }
}

.GrammarDropdown {
  margin-bottom: 8px;
  padding: 4px;
  font-size: 12px;
  background-color: $light-teal;
  border-radius: 5px;
  border: 2px solid $teal;
  & option {
    color: $dark-teal;
    background-color: $light;
  }
}

.GrammarType {
  color: $dark-teal;
  margin-bottom: 4px;
}


@media only screen and (min-width: 768px) {
  .Sentence {
    font-size: 18px;
  }

  .GrammarDropdown {
    font-size: 14px;
  }
}