@import '../../assets/_colors.scss';

.Topics {
  background-color: $light;
}

.TopicList {
  background-color: $light-teal;
  list-style: none;
  font-size: 16px;
}

.Topic {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px $lightest-teal solid;
  & i {
    margin-right: 16px;
  }
}

.TopicChoices {
  background-color: $light;
  transform: scaleY(1);
  transform-origin: top;
  transition: 300ms;
  height: 70px;
  line-height: 70px;
  overflow: auto;
}

.HideTopics {
  transform: scaleY(0);
  height: 0;
  line-height: 0px;
  padding: 0px;
  transition: 300ms;
}

.TopicChoice {
  cursor: pointer;
  color: $light-teal;
  background-color: $light;
  border: 2px solid $light-teal;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
  padding: 8px;
  text-decoration: none;
  transition: 300ms;
  &:hover {
    background-color: $light-teal;
    color: $light;
  }
}

.ChevronDown {
  font-size: 24px;
  transition: 300ms;
}

.RotateChevron {
  transform: rotate(180deg);
  transition: 300ms;
}
