@import '../../../assets/_colors.scss';

.Quiz {
  position: relative;
  max-width: 1080px;
  margin: 24px 8px;
}

.Preferences {
  text-align: right;
  width: 100%;
  margin-top: 8px;
}

.Preferences p {
  font-size: 12px;
  color: #9e9e9e;
  font-weight: 500;
  margin-bottom: 8px;
}



@keyframes stamp {
  0%   {
    opacity: 0;
    transform: scale(3);
  }
  30%   {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(10deg) scale(1);
  }
  50%   {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-10deg) scale(1);
  }
  70%   {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(10deg) scale(1);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-10deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
}

@keyframes pulse {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CorrectPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  p {
    color: #02cf5e;
    font-weight: 600;
    font-size: 22px;
  }
  &.--show {
    visibility: visible;
    animation-name: stamp;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  & i {
    font-size: 72px;
    color: #02cf5e;
    fill: $light;
    margin-left: 4px;
  }
}

.WrongPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  color: red;
  font-weight: 600;
  font-size: 90px;
  visibility: hidden;
  &.--show {
    visibility: visible;
    animation-name: pulse;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  & i {
    color: red;
    margin-left: 4px;
  }
}


@media only screen and (min-width: 768px) {
  .Quiz {
    margin: 24px auto;
  }

  .Preferences p {
    font-size: 14px;
  }
}
