@import '../../../assets/_colors.scss';

.NavBar {
  padding: 8px;
  background-color: $dark-teal;
}

.NavBar h1 {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  color: $light;
  opacity: 0.7;
}

.Katakana {
  width: 100%;
  font-size: 16px;
  line-height: 0.5;
  letter-spacing: 5px;
}


@media only screen and (min-width: 768px) {
  .NavBar h1 {
    font-size: 32px;
  }
  .Katakana {
    font-size: 20px;
  }
}