@import '../../assets/_colors.scss';

.Portal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 32px auto 8px;
  padding: 8px;
  width: 80%;
  height: 100%;
  background-color: $light;
}

.Portal a {
  margin: 10px
}

.Slider {
  width: 80%;
  height: 100%;
  margin: 24px auto 32px;
  background-color: $light;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}

.Slide {
  padding: 4px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.SlideCaption, .ImageCaption {
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  // margin: 0 8px;
}

.SlideCaption {
  color: $dark-teal;
}

.ImageCaption {
  color: $light;
}

.KirbySlide {
  background:
  linear-gradient(
    rgba(255, 31, 218, 0.45),
    rgba(255, 31, 218, 0.45),
  ),
  url('../../assets/images/angry_kirby.jpg')
  no-repeat
  center/cover;
}

.WiggleSlide {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45),
  ),
  url('../../assets/images/shaq_wiggle.gif')
  no-repeat
  center/cover;
}

.MiyamotoApproveSlide {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25),
  ),
  url('../../assets/images/miyamoto_approve.gif')
  no-repeat
  top/cover;
}

.MiyamotoRejectSlide {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25),
  ),
  url('../../assets/images/miyamoto_reject.gif')
  no-repeat
  center/cover;
}


@media only screen and (min-width: 768px) {
  .Portal {
    width: 80%;
  }

  .Slide {
    height: 80vh;
  }
  .SlideCaption, .ImageCaption {
    font-size: 24px;
  }
}